<footer id="footer-wrapper">
  <div class="container">
    <hr/>
    <div class="text-center">
      <div class="social-networks-wrapper">
        <ul class="list-inline">
          <li class="list-inline-item social-networks">
            <%= link_to '', 'https://vk.com/', class: 'fa fa-vk', target: '_blank'  %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to '', 'https://twitter.com/', class: 'fa fa-twitter', target: '_blank'  %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to '', 'https://www.instagram.com/', class: 'fa fa-instagram', target: '_blank'  %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to '', 'https://uk-ua.facebook.com/', class: 'fa fa-facebook-square', target: '_blank'  %>
          </li>
        </ul>
      </div>
        <small>&copy; 2017 Young People Music. All rights reserved.</small>
    </div>
  </div>
</footer>