<div class="footer-wrapper">
  <div class="container">
    <hr/>
    <div class="text-xs-center">
        <ul class="list-inline">
          <li class="list-inline-item social-networks">
            <%= link_to (fa_icon 'vk'), '#',
                        target: '_blank' %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to (fa_icon 'twitter'), '#',
                        target: '_blank' %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to (fa_icon 'instagram'), '#',
                        target: '_blank' %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to (fa_icon 'facebook'), '#',
                        target: '_blank' %>
          </li>
        </ul>
      <small>&copy;2017 YOUNG PEOPLE MUSIC. ALL RIGHTS RESERVED.</small>
    </div>
  </div>
</div>