<footer class="footer-wrapper">
  <div class="container">
    <hr/>
    <div class="text-center">
      <div class="social-networks-wrapper">
        <ul class="list-inline">
          <li class="list-inline-item social-networks">
            <%= link_to '', '#', class: 'Vkontakte', target: '_blank'  %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to '', '#', class: 'Twitter', target: '_blank'  %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to '', '#', class: 'Instagram', target: '_blank'  %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to '', '#', class: 'Facebook', target: '_blank'  %>
          </li>
        </ul>
      </div>
        <small>&copy; 2017 Young People Music. All rights reserved.</small>
    </div>
  </div>
</footer>