<div class="footer-wrapper">
  <div class="container">
    <hr/>
    <div class="text-xs-center row">
      <div class="social-networks-wrapper col-xs-12">
        <ul class="list-inline">
          <li class="list-inline-item social-networks">
            <%= link_to '', '#', class: 'Vkontakte'  %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to '', '#', class: 'Twitter'  %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to '', '#', class: 'Instagram'  %>
          </li>
          <li class="list-inline-item social-networks">
            <%= link_to '', '#', class: 'Facebook'  %>
          </li>
        </ul>
      </div>
      <div class="small-wrapper col-xs-12">
        <small>&copy;2017 YOUNG PEOPLE MUSIC. ALL RIGHTS RESERVED.</small>
      </div>
    </div>
  </div>
</div>