<div class="contact-us-wrapper">
  <div class="row">
    <!-- Indent -->
    <div class="col-lg-2">
    </div>

    <!-- Logo -->
    <div class="col-12 col-md-12 col-lg-4">
      <%= image_tag 'logo-1-orange.png', alt: 'Young People logo', class: 'content-logo' %>
    </div>

    <!-- Content -->
    <div class="col-12 col-md-12 col-lg-3 contact-us-content">
      <span class="contact-us-header">Наши контакты</span>
      <p class="position">Главный менеджер</p>
      <p class="position-info">
        Иван Иванович<br>
        Моб. +390493044951<br>
        Почта. i.ivanovi4@mail.com
      </p>
      <p class="position">Креативный директор</p>
      <p class="position-info">
        Иван Иванович<br>
        Моб. +390493044951<br>
        Почта. i.ivanovi4@mail.com
      </p>
      <p class="position">Создатели</p>
      <p class="position-info">
        Иван Иванович<br>
        Моб. +390493044951<br>
        Почта. i.ivanovi4@mail.com
      </p>
    </div>

    <!-- Indent -->
    <div class="col-lg-3">
    </div>
  </div>
</div>
