<div class="home-wrapper">
  <div class="row">
    <!-- Indent -->
    <div class="col-lg-2">
    </div>

    <!-- Logo -->
    <div class="col-12 col-md-12 col-lg-4">
      <%= image_tag 'logo-1-a.png', alt: 'Young People logo', class: 'content-logo' %>
    </div>

    <!-- Content -->
    <div class="col-12 col-md-12 col-lg-3 home-content">
      <span class="home-header">Young People Festival</span>
      <p class="home-text">Самый яркий фестиваль танцевальной
        музыки, который вы когда-либо видели в
        Украине. Тонны ярких эмоций и отличное
        настроение вам гарантированы. Бери с
        собой друзей и отрывайся. Ждём тебя 30 и
        31 августа.</p>
    </div>

    <!-- Indent -->
    <div class="col-lg-3">
    </div>

    <!-- Button -->
    <div class="col-12">
      <%= link_to 'Узнать больше', about_us_path, class: 'btn button-home', role: 'button' %>
    </div>
  </div>
</div>
