<div class="tickets-wrapper">
  <div class="container">
    <div class="row">

      <!-- Indent -->
      <div class="col-lg-2"></div>

      <!-- Content -->
      <div class="col-12 col-md-12 col-lg-8">
        <div class="row">
          <% @tickets.each do |ticket| %>
              <div class="col-4 col-md-6 col-lg-6">
                <%= image_tag ticket.image.url, class: 'img-fluid', style: 'height: 400px;' %>
                <%= ticket.price %>
              </div>
          <% end %>
        </div>
      </div>

      <!-- Indent -->
      <div class="col-lg-2"></div>

    </div>
  </div>
</div>
