<h1>http://youngpeoplefest.com.ua/</h1>
-----------------------------------
<p>
  Имя: <%= @cooperation.name %>
</p>
-----------------------------------
<p>
  Почта: <%= @cooperation.email %>
</p>
-----------------------------------
<p>
  Сообщение: <%= @cooperation.text %>
</p>