/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */

@import "bootstrap";
@import "font-awesome";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Footer Setting Bottom
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-image: url("background-about-us.jpg");
  background-size: cover;


  .wrapper {
    color: #ffffff;
    position: relative;
    min-height: 100%;

    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: #ff4419;
      }
    }
  }

  .main-content {
    padding-bottom: 120px;
    background: rgba(96, 96, 96, 0.3);
  }
}

// Header
.header-wrapper {
  height: 70px;
  background: rgba(48,102,128,0.3);

  // Navbar
  .nav-wrapper {
    background: rgba(96, 96, 96, 0.3);
    .nav {
        li {
          a {
            text-transform: uppercase;
            font-size: 12pt;
            font-weight: bold;
          }
        }
    }
  }
}

// Footer
.footer-wrapper {
  // Footer Setting Bottom
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110px;

  
  hr {
    background: rgba(255, 255, 255, 0.3);
  }

  .social-networks {
    padding-left: 5px;
    padding-right: 5px;

    a {
      font-size: 22px;
    }
  }
}