/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/datepicker
 */

@import "bootstrap";
@import "font-awesome";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  background-image: image-url("background-main.jpg");
  background-attachment: fixed;
  background-size: cover;

  .back-artists {
    background-image: image-url("background-artists.jpg");
  }

  .back-tickets {
    background-image: image-url("background-tickets.jpg");
  }

  .back-cooperation {
    background-image: image-url('background-coop.jpg');
  }

  .back-contact-us {
    background-image: image-url('background-contact-us.jpg');
  }

  .wrapper {
    color: #ffffff !important;
    a {
      color: #ffffff;
      text-decoration: none !important;
    }
  }
}

/* Header */
#header-wrapper {
  height: 70px;
  background: rgba(0, 0, 0, 0.8);

  /* Logo */
  .logo {
    position: absolute;
    top: 18px;
    width: 75px;
  }

  /* Navbar */
  .nav-wrapper {
    position: absolute;
    top: 9px;
    right: 0;
    height: 52px;
    z-index: 1;

    .burger-button {
      position: absolute;
      top: 15px;
      right: 37px;
      background: none;
      box-shadow: none;
    }

    #mySidenav {
      .nav {
        li {
          &:hover {
            a {
              color: #ffffff;
            }
          }
        }
        @media screen and (min-width: 992px) {
          li {
            &:first-child {
              margin-left: 0px;
            }
            &:nth-child(5n) {
              margin-right: 0px;
            }
          }
          @media screen and (min-width: 1200px) {
            li {
              margin-left: 6px;
              margin-right: 6px;
            }
          }

          .active {
            border-bottom: 2px solid #FF0103;
            color: #ffffff !important;
          }

          a {
            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
            font-size: 10pt;
          }
        }
      }
    }

    @media screen and (max-width: 991px) {
      /* The side navigation menu */
      .sidenav {
        text-align: center;
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 1); /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

        /* The navigation menu links */
        a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;

          /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
          @media screen and (max-width: 991px) {
            padding-top: 15px;
            font-size: 18px;

            @media screen and (max-width: 450px) {
              padding-top: 13px;
              font-size: 14px;
            }
          }
        }

        /* Position and style the close button (top right corner) */
        @media screen and (max-width: 991px) {
          .closebtn {
            position: absolute;
            top: -2px;
            right: 51px;
            font-size: 30px;
            margin-left: 50px;

            @media screen and (max-width: 450px) {
              top: 0px;
              right: 27px;
            }
          }
        }

        .nav {
          margin-top: 52px;
        }
      }
    }
  }
}

/* Content */
.content-wrapper {
  /* Vertical Alignment <-- */
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;

  .container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  /* Vertical Alignment --> */

  .content-logo {
    width: 300px;
  }

  .home-header, .contact-us-header {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
  }

  .home-wrapper {
    .home-content {
      @media screen and (max-width: 576px) {
        text-align: center;
      }
      padding-top: 3%;
      text-align: left;
      font-size: 14px;
    }

    .button-home {
      border: 1px solid #ffffff;
      text-transform: uppercase;
      background: none;
      border-radius: 20px;
      font-size: 10px;
      font-weight: bold;

      &:hover {
        background: #FF0103;
        border: 1px solid #FF0103;
      }
    }
  }

  .contact-us-wrapper {
    .content-logo {
      padding-top: 1%;
    }

    .contact-us-content {
      p {
        margin: 0;
      }

      .contact-us-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }

      .position {
        font-weight: bold;
        margin-top: 1px;
        margin-bottom: 1px;
      }

      .position-info {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .cooperation-wrapper {
    .cooperation-logo {
      width: 150px;
      float:left; /* Выравнивание по левому краю */
      margin: 20px 10px 0 0; /* Отступы вокруг картинки */
    }

    .cooperation-content {
      line-height: 18px;
      font-size: 14px;
    }

    .cooperation-form {
      .coop-form-field {
        @media screen and (min-width: 768px) {

        }
        background: rgba(0, 0, 0, 0.8);
        border: none;
        border-radius: 2px;
        margin-bottom: 4px;
        color: #fff;
        line-height: 18px;
        font-size: 14px;
        width: 100%;
      }
      .coop-form-field-area {
        min-height: 95px;
        max-height: 150px;
      }
      .button-cooperation {
        color: #ffffff;
        border: 1px solid #ffffff;
        text-transform: uppercase;
        background: none;
        border-radius: 20px;
        font-size: 10px;

        &:hover {
          cursor: pointer;
          background: #FF0103;
          border: 1px solid #FF0103;
        }
      }
    }
  }

  @media screen and (min-width: 991px) {
    .contact-us-content, .cooperation-content {
      text-align: left;
    }
  }

  .artist {
    color: #818181;
    padding-top: 15px;
    font-size: 14px;

    .artist-image {
      width: 190px;
      border-radius: 100px;
    }

    &:hover {
      color: #ffffff;
    }
  }
}


/* Footer */
#footer-wrapper {
  hr {
    background: rgba(255, 255, 255, 0.3);
  }

  .social-networks-wrapper {
    height: 35px;

    .social-networks {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 22px;

      a {
        &:hover {
          color: #FF0103;
        }
      }
    }
  }
}