/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 */

@import "bootstrap";
@import "font-awesome";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Footer Setting Bottom №1
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-image: url("background-3.jpg");
  background-size: cover;


  .wrapper {
    color: #ffffff;
    position: relative;
    min-height: 100%;

    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: #FF0103;
      }
    }
  }

  .main-content {
    padding-bottom: 120px;
  }
}

// Header
.header-wrapper {
  height: 70px;
  background: rgba(0, 0, 0, 0.7);

  // Logo
  .logo {
    position: absolute;
    top: 18px;
    width: 75px;
  }

  // Navbar
  .nav-wrapper {
    position: absolute;
    top: 18px;
    right: 0;

    // Navbar-toggler
    .navbar-toggler {
      position: absolute;
      right: 25px;
    }
    @media (min-width: 1080px) {
      .navbar-toggler {
        display: none;
      }
    }

    #nav-content {
      @media (max-width: 1080px) {
        margin-right: 50px;
        text-align: center;
      }
      @media (width: 320px) {
        width: 320px;
      }
      @media (width: 360px) {
        width: 360px;
      }
      @media (width: 375px) {
        width: 375px;
      }
      @media (width: 412px) {
        width: 412px;
      }
      @media (width: 414px) {
        width: 414px;
        margin-left: -153px;
        background: rgba(0, 0, 0, 0.7);
        margin-top: 52px;
      }

      .nav {
        @media screen and (min-width: 1080px) {
          li {
            margin-left: 8px;
            margin-right: 8px;

            &:first-child {
              margin-left: 0px;
            }
            &:last-child {
              margin-right: 0px;
            }

            &:hover {
              border-bottom: 2px solid #FF0103;

              a {
                color: #ffffff;
              }
            }
          }
        }

        @media screen and (min-width: 1200px) {
          li {
            margin-left: 17px;
            margin-right: 17px;

            &:first-child {
              margin-left: 0px;
            }
            &:last-child {
              margin-right: 0px;
            }
          }
        }

        li {
          a {
            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
            font-size: 10pt;
          }
        }
      }
    }
  }
}

// Footer
.footer-wrapper {
  // Footer Setting Bottom №1
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110px;

  hr {
    margin-bottom: 18px;
    background: rgba(255, 255, 255, 0.3);
  }

  .social-networks-wrapper {
    height: 35px;

    .social-networks {
      padding-left: 5px;
      padding-right: 5px;

      a {
        font-size: 22px;
      }
    }

    // Social Networks Icons
    .Vkontakte, .Twitter, .Instagram, .Facebook {
      display: block;
      width: 29px;
      height: 29px;
    }

    .Vkontakte {
      background: url(vk_normal.png);

      &:hover {
        background: url(vk_hover.png);
      }
    }

    .Twitter {
      background: url(twitter_normal.png);

      &:hover {
        background: url(twitter_hover.png);
      }
    }

    .Instagram {
      background: url(instagram_normal.png);

      &:hover {
        background: url(instagram_hover.png);
      }
    }

    .Facebook {
      background: url(facebook_normal.png);

      &:hover {
        background: url(facebook_hover.png);
      }
    }
  }
}